<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <title>Free Proxies</title>
    <meta property="og:description" content="免费的ss、ssr、vmess、trojan节点">
    <meta name="keywords" content="免费的ss、ssr、vmess、torjan节点">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    
    <link rel="stylesheet" type="text/css" href="static/css/metron-icon.css" />
    
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
    <script src="static/js/jquery.js"></script>
</head>

<body>
    
    <nav class="navbar is-primary pl-2 pr-2" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="https://{{ .domain }}" class="navbar-item">
                <h1 class="title is-4">Free Proxies</h1>
            </a>
            <a role="button" class="navbar-burger burger is-white" aria-label="menu" aria-expanded="false" data-target="clients">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="clients" class="navbar-menu">
            <div class="navbar-start is-size-6">
                <a href="./clash" class="navbar-item"><span class="icon"><i class="metron-clash"></i></span>&nbspClash</a>
                <a href="./shadowrocket" class="navbar-item"><span class="icon"><i class="metron-shadowrocket"></i></span>&nbspShadowRocket</a>
                <a href="./surge" class="navbar-item"><span class="icon"><i class="metron-surge"></i></span>&nbspSurge</a>
                <a href="https://bianyuan.xyz/" class="navbar-item">&nbsp?&nbsp&nbspMore</a>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="section pb-0">
            <h1 class="title is-2"><i class="metron-shadowrocket"></i>&nbspShadowRocket</h1>
        </div>
        <section class="section">
            <h5 class="title is-4">节点列表</h5>
            <div class="table-container">
                <div class="table-container">
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <th>全部节点订阅</th>
                                <td>https://{{ .domain }}/clash/proxies</td>
                                <td class="has-text-right"><button class="button is-small is-primary" onclick="onCopy(this)">复制</button></td>
                            </tr>
                            <tr><th>常用国家订阅</th>
                                <td>https://{{ .domain }}/clash/proxies?c=CN,HK,TW,JP,US</td>
                                <td class="has-text-right"><button class="button is-small is-primary" onclick="onCopy(this)">复制</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <article class="message is-info">
                <div class="message-body">
                    ShadowRocket的订阅包含了Clash格式，可以参考<a href="./clash">Clash</a>进行筛选。
                </div>
            </article>
        </section>
    </div>
    <footer class="footer has-text-centered">

    </footer>
    <script src="static/js/index.js"></script>
    
    <script async src="static/js/3c8f9eba5e504d9cb76aa59ec97f0571.js"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-9VK0B43EQ3');
    </script>
</body>

</html>